# Created by .ignore support plugin (hsz.mobi)
*.xml
*.png
*.prof
*.csv
test/
ini/
.ipynb_checkpoints/
.idea/
.idea
.python-version
__pycache__/
changeability_pack/
data/
CPSL_results/
prodsim.code-workspace
outputs/
build/
prodsim.egg-info/
.eggs/
dist/
.pytest_cache/
optimization_scenarios/results/

