[tool.poetry]
name = "prodsys"
version = "0.1.0"
description = "A useful module for production system simulation and optimization"
authors = ["Sebastian Behrendt <sebastia.behrendt@kit.edu>"]
license = "MIT"
readme = ["README.md", "LICENSE"]

[tool.poetry.dependencies]
python = ">3.10, <3.12"
pydantic = "^1.10.7"
simpy = "^4.0.1"
fastapi = "^0.95.1"
uvicorn = {extras = ["standard"], version = "^0.21.1"}
deap = "^1.3.3"
simanneal = "^0.5.0"
gurobipy = "^10.0.1"
hydra-core = "^1.3.2"
pandas = "^2.0.0"
openpyxl = "^3.1.2"
plotly = "^5.14.1"
scipy = "^1.10.1"

[tool.poetry.group.test.dependencies]
pytest = "^7.3.1"


[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
mkdocstrings = {version = ">=0.18", extras = ["python-legacy"]}
mkdocs-material = "^9.1.13"
mkdocs-include-dir-to-nav = "^1.2.0"


[tool.poetry.group.experimental.dependencies]
basyx-python-sdk = "^0.2.2"
strawberry-graphql = "^0.171.1"
gymnasium = ">=0.26.3"
pm4py = "^2.7.3"
torch = "^2.0.1"
torchvision = "^0.15.2"
torchaudio = "^2.0.2"
stable-baselines3 = {git = "https://github.com/DLR-RM/stable-baselines3.git"}
tensorboard = "^2.13.0"

[tool.poetry.group.build.dependencies]
setuptools = "^67.7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
